<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Filtered Data</title>

</head>
<body>
    <h1>Données filtré par maladie</h1>
    <table>
        <thead>
            <tr>
                <th>URL</th>
                <th>Date</th>
                <th>Résumé</th>
                <th>Maladies</th>
                <th>Pays</th>
            </tr>
        </thead>
        <tbody>
            {% for data in filtered_data %}
            <tr>
                <td>{{ data.url }}</td>
                <td>{{ data.date }}</td>
                <td>{{ data.summary }}</td>
                <td>
                    {% for maladie in data.maladies %}
                        {{ maladie }}
                        <br>
                    {% endfor %}
                </td>
                <td>
                    {% for pays in data.pays %}
                        {{ pays }}
                        <br>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
            
<form action="{{ url_for('export_to_excel') }}" method="POST">
    {% for data in extracted_data %}
        <input type="hidden" name="url" value="{{ data.url }}">
        <input type="hidden" name="date" value="{{ data.date }}">
        <input type="hidden" name="summary" value="{{ data.summary }}">
        {% for maladie in data.maladies %}
            <input type="hidden" name="maladies" value="{{ maladie }}">
        {% endfor %}
        {% for pays in data.pays %}
            <input type="hidden" name="pays" value="{{ pays }}">
        {% endfor %}
    {% endfor %}
    <button type="submit" class="exporter">Exporter vers Excel</button>
</form>
</body>
</html>
