<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoosanitaire</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<header>
    <img src="static/logo-CNVZ.png" alt="Logo de la Plateforme Zoosanitaire"> 

    {% if username %}
      <div class="logout">  <a href="{{ url_for('logout') }}">Déconnexion</a></div>
    {% endif %}
</header>
<body>

    

    <h1 style="color: green;">Liste des Utilisateurs</h1>
   
    <table>
        <tr>
            <th style="color: green;">Nom d'utilisateur</th>
            <th style="color: green;">Email</th>
            <th style="color: green;">Action</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <form id="deleteForm_{{ user._id }}" action="/delete_user/{{ user._id }}" method="POST">
                        <button type="button" onclick="confirmDelete('{{ user._id }}')" class="supbutton">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="container">
        <div class="row">
    <button id="toggleAddUserForm">Ajouter utilisateur</button>
    <form id="addUserForm" action="/add_user" method="POST" style="display: none;">
        <input type="text" name="username" placeholder="Nom d'utilisateur">
        <input type="password" name="password" placeholder="Mot de passe">
        <input type="email" name="email" placeholder="Email">
        <button type="submit">Ajouter Utilisateur</button>
    </form>
        </div>
    </div>
    <!--<footer>
        <p>&copy; 2024 Projet Zoosanitaire. Tous droits réservés.</p>
    </footer>-->
    
    <script>
       

        document.getElementById('toggleAddUserForm').addEventListener('click', function() {
            var form = document.getElementById('addUserForm');
            form.style.display = (form.style.display === 'none') ? 'block' : 'none';
        });

        function confirmDelete(userId) {
            var confirmation = confirm("Êtes-vous sûr de vouloir supprimer cet utilisateur ?");
            if (confirmation) {
                document.getElementById('deleteForm_' + userId).submit();
            }
        }
    </script>
</body>
</html>
