<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Connexion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<header><img src="static/logo-CNVZ.png" alt="Logo de la Plateforme Zoosanitaire"></header>

<body>
    <div class="container">
        <div class="row">
            <div class="column is-6 is-offset-3">
        <h3 class="title">Login</h3>
        <div class="box">
            <form method="POST" action="/login">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="username" placeholder="Your username" autofocus="">
                    </div>
                </div>
    
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="password" name="password" placeholder="Your Password">
                    </div>
                </div>
                
                <button class="button is-block is-info is-large is-fullwidth">Login</button>
            </form>
        </div>
    </div></div></div>
</body>
</html>
