<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Connexion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<header><img src="static/logo.png" style="width:120px;height: 120px;" alt="Logo de la Plateforme Zoosanitaire"></header>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                    <div class="box">
            <form method="POST" action="/">
                <div style="display: flex; align-items: center; justify-content: center;">
                    <img src="static/login.png" style="width:80px;height: 80px;margin-bottom: 40px;" alt="Icone de connexion">
                </div>
                
                <div class="field">
                    <div class="control">
                        <input class="input is-large" style="border-radius: 20px;"  type="text" name="username" placeholder="Your username" autofocus="">
                    </div>
                </div>
    
                <div class="field">
                    <div class="control">
                        <input class="input is-large" style="border-radius: 20px;" type="password" name="password" placeholder="Your Password">
                    </div>
                </div>
                
                <button class="login">Login</button>
            </form>
        </div>
    </div></div></div>
</body>
</html>
