<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoosanitaire</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<header>
    <img src="{{ url_for('static', filename='logo-CNVZ.png') }}" alt="Logo de la Plateforme Zoosanitaire"> 
    <h2 style="color: green;">Espace utilisateur</h2>
</header>

<body>
    <form action="/scrape" method="post"> <!-- Modifiez l'action du formulaire -->
        <label for="url">Ajouter un url:</label>
        <br>
        <input type="text" name="url" id="url"/>
        <button class="addurl" type="submit">Ajouter l'url</button>
    </form>
    
    <h1>Données extraites:</h1>
    <div>
        <h3>Maladies:</h3>
        <ul>
            {% for maladie in maladies %}
                <li>{{ maladie }}</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h3>Mots-clés:</h3>
        <ul>
            {% for keyword in keywords %}
                <li>{{ keyword }}</li>
            {% endfor %}
        </ul>
    </div>
    
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Symptôme</th>
                <th>Maladie</th>
                <th>Localisation</th>
                <th>Espèce</th>
            </tr>
        </thead>
        <tbody>
            <!-- Ajoutez ici le code pour afficher les données extraites dans le tableau -->
        </tbody>
    </table>
</body>

</html>
